@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* padding: 0 148px; */
  font-family: "DM Sans", sans-serif;
  /* font-family: "Archivo", sans-serif; */
}
body {
  background-color: rgb(0, 0, 0);
}
#banner-wrap {
  width: 100vw;
  height: 100vh;
  background: url(assets/backgroung.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
#dark-overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)
  );
  position: absolute;
  top: 0;
}

#wrapper {
  padding: 0 148px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 15vh;
}
#logo {
  width: 140px;
  height: 40px;
  margin-left: 16px;
}
#sign_in_button {
  width: 77px;
  height: 32px;
  margin-left: 12px;
  padding: 4px 16px;
  background-color: rgb(229, 9, 20);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #0000;
  cursor: pointer;
}
.info {
  display: flex;
  flex-direction: column;
  margin: 0 394px;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

h1 {
  font-weight: 900;
  font-size: 56px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 16px;
}
header p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 32px;
}
h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.form_button_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  gap: 10px;
  position: relative;
}
form {
  width: 367px;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  background-color: rgba(17, 17, 17, 0.8);
}
label {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  position: absolute;
  top: 31px;
  left: 16px;
}
.started-button {
  height: 56px;
  width: 214px;
  background-color: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  border-radius: 4px;
  border: 1px solid #0000;
  cursor: pointer;
}
.started-button img {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  position: absolute;
  top: 15px;
}
.curve-in {
  height: 5px;
  width: 100%;
  /* background: linear-gradient(
    to right,
    black,
    rgb(255, 0, 204),
    red,
    rgb(255, 0, 204),
    black
  ); */

  position: absolute;
  bottom: 120px;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  /* z-index: 10; */
}
.curve-in::before {
  content: "";
  position: absolute;
  /* top: -40px; */
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: -1;
  border-radius: 50%; /*inherit*/
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}
.curve-out {
  height: 90px;
  width: 100%;

  background: radial-gradient(ellipse at 50% 0%, rgba(19, 28, 67, 0.8), black)
    50%;
  /* background: linear-gradient(180deg, blue, black); */
  position: absolute;
  top: 5px;

  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
}
#trending h2 {
  color: rgb(255, 255, 255);
  z-index: 2;
  position: absolute;
  bottom: 0;
}
main {
  padding: 0 148px;
  /* background-color: black; */
}

.movie-slideshow {
  display: flex;
  /* margin-top: 16px;
  margin-bottom: 64px; */
  margin: 16px 0 64px 0;
}
#movie1 {
  background-image: url(assets/movie1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 8px 22px;
  width: 180px;
  height: 252px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
span {
  color: rgb(65, 65, 65);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 3px;
  font-size: 100px;
  font-weight: 1000;
  position: absolute;
  bottom: 0;
  left: -23px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 24px;
}
#movie2 {
  background-image: url(assets/movie2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 8px 22px;
  width: 180px;
  height: 252px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
#movie3 {
  background-image: url(assets/movie3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 8px 22px;
  width: 180px;
  height: 252px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
#movie4 {
  background-image: url(assets/movie4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 8px 22px;
  width: 180px;
  height: 252px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
#movie5 {
  background-image: url(assets/movie5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 8px 22px;
  width: 180px;
  height: 252px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
#side_button {
  position: relative;
}
#next-button {
  width: 24px;
  height: 120px;
  /* margin-left: 12px; */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 30%;
  border-radius: 8px;
  border: 1px solid #0000;
  cursor: pointer;
}
#next-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
}
button img {
  width: 24px;
  height: 24px;
}
#reasons-container {
  /* margin-top: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  /* position: relative; */
}

#reasons-container h3 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 12px 0 64px 0;
}
#reasons-container p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 16px;
}
#reasons-container img {
  width: 72px;
  height: 72px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
h2 {
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
}

#reasons1 {
  width: 274px;
  height: 310px;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  position: relative;
  margin: 16px 0 0 12px;
  border-radius: 8px;
}
#reasons2 {
  width: 274px;
  height: 310px;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  position: relative;
  margin: 16px 0 0 12px;
  border-radius: 8px;
}
#reasons3 {
  width: 274px;
  height: 310px;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  position: relative;
  margin: 16px 0 0 12px;
  border-radius: 8px;
}
#reasons4 {
  width: 274px;
  height: 310px;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  position: relative;
  margin: 16px 0 0 12px;
  border-radius: 8px;
}
.text-container {
  padding: 15px 16px 128px 16px;
}
#faq-container {
  margin-bottom: 64px;
  color: rgb(255, 255, 255);
}
#faq-container h2 {
  margin-top: 16px;
}
#faq-container details {
  font-size: 24px;
  margin-bottom: 8px;
  height: auto;
}

details summary {
  /* text-align: center;   url(assets/plus.svg);*/
  list-style: none;
  background-image: url(assets/plus.svg);
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: 98%;
  height: 84px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: rgb(45, 45, 45);
  cursor: pointer;
}
details summary:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

details p {
  background-color: rgb(45, 45, 45);
  margin-top: 2px;
  padding: 24px;
}
#rectangle-wrap {
  margin-bottom: 64px;
}
#rectangle-wrap h3 {
  display: flex;
  justify-content: center;
}
#rectangle-box {
  display: flex;
  justify-content: center;
}

/* details summary ::after {
  list-style-image: url(assets/plus.svg);
} */
footer {
  padding: 0 148px;
  padding-bottom: 96px;
}
footer ul li {
  list-style-type: none;
}
#footer-list {
  margin-top: 36px;
  /* color: rgba(255, 255, 255, 0.7); */
  columns: 4;
  margin-bottom: 14px;
}

#footer-list a {
  font-size: 14px;
  line-height: 2.2;
}
#footer-list li:empty {
  visibility: hidden;
  height: 32px; /*  matches line height */
}

#netflix-tel p,
a {
  color: rgba(255, 255, 255, 0.7);
}
#language {
  margin-top: 36px;
  width: 124px;
  height: 32px;
  position: relative;
  /* color: rgb(255, 255, 255); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgb(255, 255, 255);
  padding: 0 15px;
  border-radius: 4px;

  /* background-color: #0000; */
  /* background-color: ; */
}
#language img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
#language select {
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 16px;

  /* background: url(assets/selectlanguage.svg); */
}
#netflix-sa {
  margin-top: 36px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
#recaptcha {
  margin-top: 36px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
